.container {
    display: flex;  /*definisce che questo è un flex container*/
    flex-direction: column; /*ordina gli elementi in riga da sinistra a destra*/
    justify-content: flex-start; /*allinea alla parte sinistra della pagina*/
    gap: 10px 20px; /*row-gap = 10     column-gap = 20*/
    border: 2px;
    border: solid;
    border-color: black;
    block-size: auto;
  }